<!DOCTYPE html>
<html lang="ja">
    <head>
        <link rel="stylesheet" href="application.css">
        <title>WebCampBackendNew</title>
        <meta charset="UTF-8"/>
    </head>
</html>

<body>
 <p id="notice"></p>
 <p>
<strong>Title:</strong><%= @book.title %>
</p>

<p>
<strong>Body:</strong><%= @book.body %>
</p>
 <a href="">Edit</a>
 |
 <a href="/books">Back</a>
 
 </body>
 </html>