<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="h2jra3gBkmxidvfg66ugwwt4ns8rpzbeu2idqugObt+9RJ2iV+6olFOAXykCHxAYp5wqswg6ju3wB/9YMu9moA==">
    <link rel="stylesheel" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  </head>
  
  <body>
    <p id="notice">Book was successfully destroyed.</p>
    <h1>Books</h1>
    <table>
     <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
        
        <% @book.each do |book| %>
    <span><%= book.title %></span>
    <% end %>
     
   
   
  </body>
 </html>